<%- include("partials/header.ejs") %>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">About Me</h1>
        <img src="images/dog.jpg" class="rounded-5" alt="Cute dog lying down" />
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
            quae neque dolor illum repellat ea culpa excepturi, consectetur amet
            facilis, aliquam quis. Dolorem aperiam sed amet, voluptas unde fuga
            id? Iste mollitia culpa commodi atque quidem tempore quo voluptatem
            libero doloremque. Dicta omnis ad ullam distinctio aliquam, tenetur
            consequatur numquam sapiente, officiis voluptas expedita accusantium
            minima cumque, nisi ducimus ut?
        </p>
    </div>
</div>

<%- include("partials/footer.ejs") %>
