<%- include("partials/header.ejs") %>
<div class="w-50 p-5">
    <div class="mb-3">
        <label for="blogtitle" class="form-label"
            >Blog Title</label
        >
        <input
            type="title"
            class="form-control"
            id="blogtitle"
        />
    </div>
    <div class="mb-3">
        <label for="blogpost" class="form-label"
            >Blog Post</label
        >
        <textarea
            class="form-control"
            id="blogpost"
            rows="3"
        ></textarea>
    </div>
</div>


<%- include("partials/footer.ejs") %>
